<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
    <button [routerLink]="['/add-subjects'] " class="btn btn-primary float-right">+</button>
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>Filtro:</div>
      <div class='col-md-4'>
        <input type='text'
               [(ngModel)]='listFilter' />
      </div>
    </div>
    <div class='row'
         *ngIf='listFilter'>
      <div class='col-md-6'>
        <h4>{{listFilter}}</h4>
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table'
             *ngIf='subjects && subjects.length'>
        <thead>
          <tr>            
            <th>Descrição</th>            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let subject of filteredSubjects'>            
            <td>
              <a [routerLink]="['/subjects', subject.id]">
                {{ subject.description }}
              </a>
            </td>                      
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf='errorMessage'
     class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>