<div class='card'
     *ngIf='author'>
  <div class='card-header'>
    {{pageTitle + ': ' + author.name}}
    <button [routerLink]="['/add-authors'] " class="btn btn-primary float-right">+</button> 
  </div>

  <div class='card-body'>    
    <div class="form-group">
      <button type="button" class="btn btn-danger float-right" (click)="remove()">x</button>
    </div>
    <form #authorForm="ngForm">       
      <div class="form-group">
        <label for="name">Nome</label>
        <input type="name" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Digite o nome" [(ngModel)]="author.name" [ngModelOptions]="{standalone: true}" #name="ngModel" required maxlength="40">
        <small id="nameHelp" class="form-text text-muted">Digite o nome do autor do livro.</small>
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
          <smal *ngIf="name.errors.required">Autor é obrigatório</smal>      
        </div>     
      </div>               
      <button type="button" class="btn btn-primary float-right" (click)="onSubmit()" [disabled]="!name.valid">Salvar</button>
    </form>    
  </div>

  <div class='card-footer'>
    <button class='btn btn-outline-secondary'
            (click)='onBack()'
            style='width:80px'>
      <i class='fa fa-chevron-left'></i>
    </button>
  </div>
</div>