<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <h3>{{pageTitle}}</h3>
      </div>      
      <div class="text-center">Desenvolvido por:</div>
      <div class="text-center">
        Alex Martins
      </div>
      <div class="text-center">@asmmartins</div>
      <div class="text-center">
        <a href="https://github.com/asmmartins/libraryapp">github</a>
      </div>
    </div>
  </div>
</div>